a {
    color: var(--primary-color)
}

img {
    max-width: 200px;
}

// Card
.card {
    position: relative;
    word-wrap: break-word;
    border-radius: 12px;
    margin-top: 0.8rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card__header {
    font-weight: 400;
    font-size: 1.2rem;
    color: #3f414d;

    &:not([data-padding="no"], [data-padding="0"]) {
        padding: 1.4rem 1.25rem;
    }
}

.cardBody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 1.5;

    &:not([data-padding="0"]) {
        padding: 1rem 2rem;
    }
}